swagger: "2.0"
info:
  version: 3.0.0
  title: API Documentation V2
  description: >-
    <h4>Authentication</h4>
                                                                                        API key must be provided in the <code>X-API-Key</code> header:<br/>
                                                                                        <code>X-API-Key: {your-api-key-guid}</code><br/><br/>
                                                                                        <strong>Note:</strong> V2 does not support query parameter authentication for security reasons.
                                                                                        If header-based authentication presents integration challenges for your use case,
                                                                                        please contact our support team to discuss alternative solutions.
  x-swagger-net-version: 8.5.12.001
host: api.manyreach.com
schemes:
  - https
paths:
  /api/v2/blacklist/domains:
    get:
      tags:
        - Blacklist
      summary: Get all blacklisted domain
      description: API endpoint for GetDomains
      operationId: Api2Blacklist_GetDomains
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: search
          in: query
          description: "Parameter: search"
          required: false
          type: string
        - name: page
          in: query
          description: "Page number (1-indexed, default: 1)"
          required: false
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: limit
          in: query
          description: "Items per page (default: 100, max: 1000)"
          required: false
          type: integer
          format: int32
          maximum: 1000
          minimum: 1
        - name: startingAfter
          in: query
          description: Cursor for next page (optional, for cursor-based pagination)
          required: false
          type: integer
          format: int64
      responses:
        "200":
          description: Domain blacklist retrieved
          schema:
            $ref: "#/definitions/Api2BlacklistDomainPage"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    post:
      tags:
        - Blacklist
      summary: Add domains to the blacklist.
      description: API endpoint for AddDomains
      operationId: Api2Blacklist_AddDomains
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          description: "Parameter: request"
          required: true
          schema:
            $ref: "#/definitions/Api2BlacklistDomainsAddRequest"
      responses:
        "200":
          description: OK
          schema:
            type: object
        "201":
          description: Domains added to blacklist
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Resource conflict - Duplicate resource or constraint violation
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/blacklist/domains/check:
    get:
      tags:
        - Blacklist
      summary: Check if a domain is blacklisted.
      description: API endpoint for CheckDomain
      operationId: Api2Blacklist_CheckDomain
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: domain
          in: query
          description: "Parameter: domain"
          required: true
          type: string
      responses:
        "200":
          description: Check result
          schema:
            $ref: "#/definitions/Api2BlacklistCheckResponse"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/blacklist/domains/{id}:
    delete:
      tags:
        - Blacklist
      summary: Remove a domain blacklist entry by BlockID.
      description: API endpoint for DeleteDomainById
      operationId: Api2Blacklist_DeleteDomainById
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: "Parameter: id"
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          schema:
            type: object
        "204":
          description: Entry removed
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Entry not found
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/blacklist/emails:
    get:
      tags:
        - Blacklist
      summary: Get all blacklist email
      description: API endpoint for GetEmails
      operationId: Api2Blacklist_GetEmails
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: search
          in: query
          description: "Parameter: search"
          required: false
          type: string
        - name: page
          in: query
          description: "Page number (1-indexed, default: 1)"
          required: false
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: limit
          in: query
          description: "Items per page (default: 100, max: 1000)"
          required: false
          type: integer
          format: int32
          maximum: 1000
          minimum: 1
        - name: startingAfter
          in: query
          description: Cursor for next page (optional, for cursor-based pagination)
          required: false
          type: integer
          format: int64
      responses:
        "200":
          description: Email blacklist retrieved
          schema:
            $ref: "#/definitions/Api2BlacklistEmailPage"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    post:
      tags:
        - Blacklist
      summary: Add emails to the blacklist.
      description: API endpoint for AddEmails
      operationId: Api2Blacklist_AddEmails
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          description: "Parameter: request"
          required: true
          schema:
            $ref: "#/definitions/Api2BlacklistEmailsAddRequest"
      responses:
        "200":
          description: OK
          schema:
            type: object
        "201":
          description: Emails added to blacklist
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Resource conflict - Duplicate resource or constraint violation
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/blacklist/emails/check:
    get:
      tags:
        - Blacklist
      summary: Check if an email is blacklisted
      description: API endpoint for CheckEmail
      operationId: Api2Blacklist_CheckEmail
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: email
          in: query
          description: "Parameter: email"
          required: true
          type: string
      responses:
        "200":
          description: Check result
          schema:
            $ref: "#/definitions/Api2BlacklistCheckResponse"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/blacklist/emails/{id}:
    delete:
      tags:
        - Blacklist
      summary: Remove an email blacklist entry by BlockID.
      description: API endpoint for DeleteEmailById
      operationId: Api2Blacklist_DeleteEmailById
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: "Parameter: id"
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          schema:
            type: object
        "204":
          description: Entry removed
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Entry not found
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/campaigns:
    get:
      tags:
        - Campaign
      summary: Get all campaigns
      description: "Retrieves campaigns belonging to the authenticated
        organization.  \r

        \r

        ### Behavior\r

        - Extracts and validates the API key (from header or query).  \r

        - Authenticates the organization using the API key.  \r

        - Retrieves campaigns ordered by <b>name (descending)</b>.  \r

        - Supports <b>offset pagination</b> via page + limit.  \r

        - Supports <b>cursor-based pagination</b> via starting_after.  \r

        - By default excludes archived campaigns; set include_archived=true to
        include them, or filter with status (exact CampStatus).  \r

        - Returns a paginated response with TotalRecords, Page, and PageSize."
      operationId: ApiCampaign_GetCampaigns
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: pageQuery.includeArchived
          in: query
          description: When false (default), rows with CampStatus archived are excluded
            unless Status is set to archived.
          required: false
          type: boolean
        - name: pageQuery.status
          in: query
          description: Optional exact CampStatus filter (case-insensitive), e.g. running,
            paused, draft, completed, archived, scheduled, preparing.
          required: false
          type: string
        - name: pageQuery.page
          in: query
          description: "Page number (1-indexed, default: 1)"
          required: false
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: pageQuery.limit
          in: query
          description: "Items per page (default: 100, max: 1000)"
          required: false
          type: integer
          format: int32
          maximum: 1000
          minimum: 1
        - name: pageQuery.startingAfter
          in: query
          description: Cursor for next page (optional, for cursor-based pagination)
          required: false
          type: integer
          format: int64
      responses:
        "200":
          description: Campaigns retrieved successfully
          schema:
            $ref: "#/definitions/CampaignPage"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    post:
      tags:
        - Campaign
      summary: Create new campaign
      description: "Creates a new campaign associated with the authenticated
        organization.\r

        \            \r

        Behavior:\r

        - Extracts and validates API key (header/query).\r

        - Authenticates org using API key.\r

        - Checks campaign limit for the org variant (normal/PowerMode).\r

        - Builds and saves the new campaign.\r

        - Automatically creates a default sequence ('1') with onboarding if
        relevant.\r

        - Returns details of the created campaign, or appropriate error."
      operationId: ApiCampaign_CreateCampaignAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          description: "Campaign object to create.  \r

            Only minimal information is required; the system will set required
            fields."
          required: true
          schema:
            $ref: "#/definitions/CampaignCreate"
      responses:
        "200":
          description: OK
          schema:
            type: object
        "201":
          description: Campaign created successfully
          schema:
            $ref: "#/definitions/Campaign"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Resource conflict - Duplicate resource or constraint violation
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/campaigns/{id}:
    get:
      tags:
        - Campaign
      summary: Get campaign by ID
      description: "Retrieves campaign details by campaign ID for the authenticated
        organization.\r

        \            \r

        Behavior:\r

        - Extracts and validates the API key (from header or query).\r

        - Authenticates organization using the API key.\r

        - Validates that the campaign exists and is owned by the organization.\r

        - Returns campaign details: name, status, creation date, engagement
        metrics, or 404/403 accordingly."
      operationId: ApiCampaign_GetCampaignByID
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: Unique identifier of the campaign to retrieve.
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      responses:
        "200":
          description: Campaign retrieved successfully
          schema:
            $ref: "#/definitions/Campaign"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    delete:
      tags:
        - Campaign
      summary: Delete campaign
      description: "Deletes a campaign by ID for the authenticated organization.\r

        \            \r

        Behavior:\r

        - Extracts and validates the API key (from header or query).\r

        - Authenticates the organization using the API key.\r

        - Checks campaign existence and ownership.\r

        - Performs soft delete and returns deleted campaign, or error result as
        appropriate."
      operationId: ApiCampaign_DeleteCampaign
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: The ID of the campaign for delete campaign
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      responses:
        "200":
          description: OK
          schema:
            type: object
        "204":
          description: Campaign deleted successfully
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    patch:
      tags:
        - Campaign
      summary: Update campaign
      description: "Updates only supplied fields for a single campaign by ID.\r

        \            \r

        Behavior:\r

        - Extracts and validates API key (header or query).\r

        - Authenticates org using API key.\r

        - Validates the campaign ID and request body.\r

        - Applies non-null valid fields as a PATCH (partial update).\r

        - Validates special fields (emails, time windows, DelayMin/Max, etc).\r

        - Logs and returns change details, errors, or forbidden/not
        found/responses as needed."
      operationId: ApiCampaign_UpdateCampaign
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          description: Campaign patch data containing only the fields to update
          required: true
          schema:
            $ref: "#/definitions/CampaignUpdate"
        - name: id
          in: path
          description: The ID of the campaign to update
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      responses:
        "200":
          description: Campaign updated successfully
          schema:
            $ref: "#/definitions/Campaign"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/campaigns/{id}/start:
    post:
      tags:
        - Campaign
      summary: Start a campaign
      description: Initiates a campaign to begin sending messages to its target audience
      operationId: ApiCampaign_StartCampaignAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: Campaign ID for start campaign
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      responses:
        "200":
          description: Campaign started successfully
          schema:
            $ref: "#/definitions/CampaignStatus"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Resource conflict - Duplicate resource or constraint violation
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/campaigns/{id}/pause:
    post:
      tags:
        - Campaign
      summary: Pause a campaign
      description: Pauses an active campaign to temporarily stop sending messages
      operationId: ApiCampaign_PauseCampaignAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: Campaign ID for pause campaign
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      responses:
        "200":
          description: Campaign paused successfully
          schema:
            $ref: "#/definitions/CampaignStatus"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Resource conflict - Duplicate resource or constraint violation
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/campaigns/{id}/archive:
    post:
      tags:
        - Campaign
      summary: Archive a campaign (stops sending). Retry with confirm=true if the
        campaign is running.
      description: API endpoint for ArchiveCampaignAsync
      operationId: ApiCampaign_ArchiveCampaignAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: Campaign ID
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: confirm
          in: query
          description: Set true after receiving CONFIRMATION_REQUIRED for a running
            campaign.
          required: false
          type: boolean
          default: false
      responses:
        "200":
          description: Campaign archived
          schema:
            $ref: "#/definitions/CampaignStatus"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Confirmation required before archiving a running campaign
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/campaigns/{id}/unarchive:
    post:
      tags:
        - Campaign
      summary: Restore an archived campaign to draft.
      description: API endpoint for UnarchiveCampaignAsync
      operationId: ApiCampaign_UnarchiveCampaignAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: "Parameter: id"
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      responses:
        "200":
          description: Campaign unarchived
          schema:
            $ref: "#/definitions/CampaignStatus"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Resource conflict - Duplicate resource or constraint violation
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/campaigns/{id}/sequences:
    get:
      tags:
        - Campaign
      summary: Fetch campaign sequence
      description: "Fetches all sequences for a given campaign ID owned by the
        authenticated organization.\r

        \            \r

        Behavior:\r

        - Validates API key (header/query) and organization.\r

        - Checks that campaign exists and belongs to organization.\r

        - Retrieves sequences and their nested followups and stats for the
        specified campaign.\r

        - Returns data or error response as appropriate."
      operationId: ApiCampaign_GetCampaignSequences
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: Campaign ID for get all campaign's sequences
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      responses:
        "200":
          description: Sequences retrieved successfully
          schema:
            $ref: "#/definitions/SequencePage"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    post:
      tags:
        - Campaign
      summary: Creates campaign sequence
      description: "Creates a new sequence for a specific campaign owned by the
        authenticated organization.\r

        \            \r

        Behavior:\r

        - Validates API key (header/query), campaign ID ownership, and input
        model.\r

        - Checks campaign existence and per-campaign sequence limit.\r

        - Saves sequence and clears relevant caches.\r

        - Returns created sequence or error response."
      operationId: ApiCampaign_CreateSequence
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: Campaign ID for create campaign's sequences
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: request
          in: body
          description: "CampaignSequence object for create.  \r

            Only minimal information is required; the system will set required
            fields."
          required: true
          schema:
            $ref: "#/definitions/SequenceCreate"
      responses:
        "200":
          description: OK
          schema:
            type: object
        "201":
          description: Sequence created successfully
          schema:
            $ref: "#/definitions/Sequence"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Resource conflict - Duplicate resource or constraint violation
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/campaigns/{id}/copy:
    post:
      tags:
        - Campaign
      summary: Create a copy of Campaign
      description: "Makes a copy of a campaign, including settings, sequences, and
        follow-ups.\r

        \            \r

        Behavior:\r

        - Validates API key and authenticated org.\r

        - Checks campaign ID is provided and positive integer.\r

        - Performs copy operation and assigns new name if given.\r

        - Returns new campaign or error as appropriate."
      operationId: ApiCampaign_CopyCampaign
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: Campaign ID to be copied.
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: newCampaignName
          in: query
          description: "Parameter: newCampaignName"
          required: false
          type: string
          default: ""
      responses:
        "200":
          description: OK
          schema:
            type: object
        "201":
          description: Campaign copied successfully
          schema:
            $ref: "#/definitions/Campaign"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Resource conflict - Duplicate resource or constraint violation
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/campaigns/{id}/stats:
    get:
      tags:
        - Campaign
      summary: Get campaign statistics
      description: "Retrieves all statistical data for the specified campaign in the
        authenticated organization.\r

        \            \r

        Behavior:\r

        - Validates API key/org and campaign existence.\r

        - Optionally refreshes statistics when refresh=true (checks completion
        status, recalculates stats, processes A/B tests, clears caches).\r

        - Verifies/normalizes date parameters and their ranges.\r

        - Returns statistics for the specified date range.\r

        \            \r

        Date Defaults (if not provided):\r

        - dateStart: Campaign creation date\r

        - dateEnd: Current date/time"
      operationId: ApiCampaign_GetCampaignStats
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: Campaign ID for which statistics are to be retrieved.
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: dateStart
          in: query
          description: "Optional. The start date (inclusive) for the statistics data
            range.\r

            Accepts ISO 8601 format: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ss.fffZ (Z
            is optional, always interpreted as UTC).\r

            If not provided, defaults to the campaign creation date."
          required: false
          type: string
          format: date-time
        - name: dateEnd
          in: query
          description: "Optional. The end date (inclusive) for the statistics data
            range.\r

            Accepts ISO 8601 format: yyyy-MM-dd or yyyy-MM-ddTHH:mm:ss.fffZ (Z
            is optional, always interpreted as UTC).\r

            If not provided, defaults to the current date."
          required: false
          type: string
          format: date-time
        - name: refresh
          in: query
          description: "Optional. Set to true to force refresh campaign statistics before
            retrieval.\r

            When true, recalculates all stats, processes A/B test variants,
            refreshes followups, and clears caches.\r

            Defaults to false for faster response times."
          required: false
          type: boolean
          default: false
      responses:
        "200":
          description: Campaign statistics retrieved successfully
          schema:
            $ref: "#/definitions/CampaignStats"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/campaigns/{id}/prospects/{prospectId}:
    delete:
      tags:
        - Campaign
      summary: Delete prospect from campaign
      description: "Deletes a prospect by ID for the authenticated organization.\r

        \            \r

        Behavior:\r

        - Extracts and validates the API key (from header or query).\r

        - Authenticates the organization using the API key.\r

        - Checks campaign existence and ownership."
      operationId: ApiCampaign_RemoveProspectFromCampaign
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: The ID of the campaign for remove prospect
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: prospectId
          in: path
          description: The ID of the prospect for remove prospect from campaign
          required: true
          type: integer
          format: int64
          maximum: 9223372036854776000
          minimum: 1
      responses:
        "200":
          description: OK
          schema:
            type: object
        "204":
          description: Prospect remove successfully
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/clientspaces:
    get:
      tags:
        - Clientspace
      summary: Get all clientspaces
      description: "Retrieves all clientspaces under the authenticated parent
        organization (agency).\r

        \r

        Behavior:\r

        - Authenticates via API key\r

        - Only lists clientspaces for parent org\r

        - Utilizes whitelabel cache for count\r

        - Returns items and total count"
      operationId: Api2Clientspace_GetAllClientspace
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: page
          in: query
          description: "Page number (1-indexed, default: 1)"
          required: false
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: limit
          in: query
          description: "Items per page (default: 100, max: 1000)"
          required: false
          type: integer
          format: int32
          maximum: 1000
          minimum: 1
        - name: startingAfter
          in: query
          description: Cursor for next page (optional, for cursor-based pagination)
          required: false
          type: integer
          format: int64
      responses:
        "200":
          description: Clientspaces retrieved successfully
          schema:
            $ref: "#/definitions/ClientspacePage"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    post:
      tags:
        - Clientspace
      summary: Create a clientspace
      description: "Creates a new clientspace under the authenticated parent
        organization (agency).\r

        \r

        Behavior:\r

        - Authenticates via API key\r

        - Requires admin rights on parent organization\r

        - Allocates fixed credits upon creation\r

        - Title must be unique for organization\r

        - Clientspace name/title. Must be unique within Organization"
      operationId: Api2Clientspace_CreateClientspace
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          description: Clientspace create request object
          required: true
          schema:
            $ref: "#/definitions/ClientspaceCreate"
      responses:
        "200":
          description: OK
          schema:
            type: object
        "201":
          description: Clientspace created successfully
          schema:
            $ref: "#/definitions/Clientspace"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Resource conflict - Duplicate resource or constraint violation
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/clientspaces/{id}:
    get:
      tags:
        - Clientspace
      summary: Get clientspace by ID
      description: "Retrieves details of a specific clientspace by its
        OrganizationID.\r

        \r

        Behavior:\r

        - Authenticates via API key\r

        - Ensures the requested clientspace belongs to the authenticated parent
        organization\r

        - Only users from the parent organization can access"
      operationId: Api2Clientspace_GetClientspaceById
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: Clientspace (Organization) ID
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      responses:
        "200":
          description: Clientspace retrieved successfully
          schema:
            $ref: "#/definitions/Clientspace"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    delete:
      tags:
        - Clientspace
      summary: Delete a clientspace
      description: "Deletes a clientspace under the authenticated parent organization
        (agency).\r

        \r

        Behavior:\r

        - Authenticates via API key\r

        - Only parent org/agency can delete clientspaces\r

        - Requires Super Admin permissions\r

        - Removes organization from agency cache"
      operationId: Api2Clientspace_DeleteClientspace
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: OrganizationID to delete
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      responses:
        "200":
          description: OK
          schema:
            type: object
        "204":
          description: Clientspace deleted successfully
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    patch:
      tags:
        - Clientspace
      summary: Update clientspace
      description: "Updates one or more clientspace fields (Title, Credit Limit,
        Separate Credits) under the authenticated organization.\r

        \r

        Behavior:\r

        - Authenticates via API key\r

        - Ensures the workspace belongs to caller's organization (as Agency)\r

        - Allows updating Title, Auto Allocate, Credit Amount,
        HasSeparateCredits\r

        - Ignores any fields not included in query\r

        - New title (optional, must be unique in agency)\r

        - Auto allocate credits (optional)\r

        - Credit Amount (optional)\r

        - Enable/disable separate credits (optional)"
      operationId: Api2Clientspace_UpdateClientspacev2
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: Target Clientspace OrganizationID
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: request
          in: body
          description: "Parameter: request"
          required: true
          schema:
            $ref: "#/definitions/ClientspaceUpdate"
      responses:
        "200":
          description: Clientspace updated successfully
          schema:
            $ref: "#/definitions/Clientspace"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/followups/{id}:
    get:
      tags:
        - Followup
      summary: Get follow-up by ID
      description: "Retrieves the full details for a single follow-up in a campaign
        sequence, for the authenticated org.\r

        \            \r

        Behavior:\r

        - Validates API key, follow-up ID, and related campaign ownership.\r

        - Looks up follow-up record, handles not-found and org ownership
        failures.\r

        - Maps follow-up to API response model and returns result, or error if
        any step fails."
      operationId: ApiFollowup_GetFollowup
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: followup ID for single followup retrieval
          required: true
          type: integer
          format: int64
          maximum: 9223372036854776000
          minimum: 1
      responses:
        "200":
          description: Followup retrieved successfully
          schema:
            $ref: "#/definitions/Followup"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    delete:
      tags:
        - Followup
      summary: Delete follow-up
      description: "Deletes (soft delete) a follow-up email for a campaign/sequence
        owned by the authenticated organization.\r

        \            \r

        Behavior:\r

        - Validates API key, follow-up ID, and organization/campaign/sequence.\r

        - Sets follow-up Deleted flag and persists changes.\r

        - Clears all related cache, returns deleted follow-up info or error."
      operationId: ApiFollowup_DeleteFollowup
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: followup ID for delete followup
          required: true
          type: integer
          format: int64
          maximum: 9223372036854776000
          minimum: 1
      responses:
        "200":
          description: OK
          schema:
            type: object
        "204":
          description: Followup deleted successfully
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    patch:
      tags:
        - Followup
      summary: Update follow-up
      description: "Updates supplied fields for a follow-up email in a campaign
        sequence belonging to the authenticated org.\r

        \            \r

        Behavior:\r

        - Validates API key, follow-up ID, and input model.\r

        - Checks follow-up, campaign, and org association.\r

        - Performs partial, validated update on supplied fields.\r

        - Logs, clears caches, returns changed fields or error status."
      operationId: ApiFollowup_UpdateFollowup
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: followup ID for update followup
          required: true
          type: integer
          format: int64
          maximum: 9223372036854776000
          minimum: 1
        - name: request
          in: body
          description: "followup object for update followup.\r

            Only minimal information is required; the system will set required
            fields."
          required: true
          schema:
            $ref: "#/definitions/FollowupUpdate"
      responses:
        "200":
          description: Followup updated successfully
          schema:
            $ref: "#/definitions/Followup"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/lists:
    get:
      tags:
        - List
      summary: Retrieves all mailing lists
      description: "Returns all mailing lists for the authenticated organization.\r

        \r

        Behavior:\r

        - Authenticates API key and organization.\r

        - Retrieves list data from repository.\r

        - Orders lists by Title (descending).\r

        - Returns list data including metadata."
      operationId: ApiList_GetLists
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: page
          in: query
          description: "Page number (1-indexed, default: 1)"
          required: false
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: limit
          in: query
          description: "Items per page (default: 100, max: 1000)"
          required: false
          type: integer
          format: int32
          maximum: 1000
          minimum: 1
        - name: startingAfter
          in: query
          description: Cursor for next page (optional, for cursor-based pagination)
          required: false
          type: integer
          format: int64
      responses:
        "200":
          description: List retrieved successfully
          schema:
            $ref: "#/definitions/ListPage"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    post:
      tags:
        - List
      summary: Creates a new mailing list
      description: "Creates a new list for the authenticated organization.\r

        \r

        Behavior:\r

        - Authenticates API request\r

        - Validates required fields\r

        - Checks for duplicate list name\r

        - Creates list record\r

        - Returns created list details"
      operationId: ApiList_CreateList
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          description: List data (Api2ListCreate DTO)
          required: true
          schema:
            $ref: "#/definitions/ListCreate"
      responses:
        "200":
          description: OK
          schema:
            type: object
        "201":
          description: List created successfully
          schema:
            $ref: "#/definitions/List"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Resource conflict - Duplicate resource or constraint violation
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/lists/{id}:
    get:
      tags:
        - List
      summary: Retrieves a specific mailing list by ID
      description: "Returns details of a single mailing list for the authenticated
        organization.\r

        \            \r

        Behavior:\r

        - Authenticates API request\r

        - Validates list ID\r

        - Retrieves list by ID\r

        - Returns list details"
      operationId: ApiList_GetListById
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: List ID
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      responses:
        "200":
          description: List retrieved successfully
          schema:
            $ref: "#/definitions/List"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    delete:
      tags:
        - List
      summary: Deletes a list
      description: "Deletes a list from the organization.\r

        \            \r

        Behavior:\r

        - Authenticates API request\r

        - Validates list exists and belongs to authenticated organization\r

        - Returns 204 No Content on successful deletion"
      operationId: ApiList_DeleteList
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: List ID
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      responses:
        "200":
          description: OK
          schema:
            type: object
        "204":
          description: List deleted successfully
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
    patch:
      tags:
        - List
      summary: Updates an existing mailing list
      description: "Updates specified fields of a list.\r

        \r

        Behavior:\r

        - Authenticates API request\r

        - Validates list ID\r

        - Updates only provided fields\r

        - Returns updated list details"
      operationId: ApiList_UpdateList
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: List ID
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: request
          in: body
          description: Fields to update (Api2ListUpdate DTO)
          required: true
          schema:
            $ref: "#/definitions/ListUpdate"
      responses:
        "200":
          description: List updated successfully
          schema:
            $ref: "#/definitions/List"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/lists/{id}/prospects/{prospectId}:
    delete:
      tags:
        - List
      summary: Remove a specific prospect from a list
      description: API endpoint for RemoveListProspect
      operationId: ApiList_RemoveListProspect
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          description: Prospect ID
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: prospectId
          in: path
          description: Prospect(Lead) ID to remove
          required: true
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      responses:
        "200":
          description: OK
          schema:
            type: object
        "204":
          description: Prospect removed successfully
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/messages/reply:
    post:
      tags:
        - Message
      summary: Send a reply to a received message.
      description: "Sends an email reply to an existing received message.  \r

        Supports quoting the original message, personalization placeholders,
        CC/BCC,  \r

        sender override, and campaign-based tracking (opens/clicks).\r

        \r

        Behavior:\r

        - Validates the request and authentication.\r

        - Retrieves the original received message by ID (from request body).\r

        - Sanitizes the original body (removes tracking pixels and tracked
        links).\r

        - Verifies user permissions to access the organization inbox.\r

        - Selects the sender (original sender or `fromEmail` override).\r

        - Builds the reply content and applies personalization.\r

        - Optionally appends the quoted original message (`sendAsReply`).\r

        - Applies tracking if required by the campaign.\r

        - Sends the email via the external sending service.\r

        - Stores a record of the sent reply.\r

        \r

        Tracking And Personalization:\r

        - Automatically adds tracking pixels and click-tracking if the message
        belongs to a tracked campaign.\r

        - Personalization placeholders (e.g., {FirstName}, {Company}) are
        replaced with prospect data."
      operationId: Api2Message_Reply
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          description: Reply details including message ID, recipient, body, subject, and
            options.
          required: true
          schema:
            $ref: "#/definitions/MessageReply"
      responses:
        "200":
          description: OK
          schema:
            type: object
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Resource conflict - Duplicate resource or constraint violation
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/messages:
    get:
      tags:
        - Message
      summary: Retrieve messages by type
      description: "Retrieves a paginated list of messages filtered by type (Reply,
        Sent, SentManual)\r

        \r

        Behavior\r

        - Type parameter is required\r

        - Supports pagination with page and limit parameters\r

        - Supports cursor-based pagination via starting_after (DateTime)\r

        - Allows filtering by campaign ID, followup ID (FUID), sender ID\r

        - Supports search by subject, from email, to email, or content\r

        - Can filter by confirmed status\r

        - Returns first 500 characters of body\r

        \r

        Response\r

        - Returns Api2MessagePage with Items and Pagination metadata\r

        - Each message includes tracking data (opens, clicks) for sent
        messages\r

        - Includes campaign and followup associations\r

        - Click details are included for sent messages"
      operationId: Api2Message_GetMessagesByType
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: type
          in: query
          description: "Message type filter (required). Valid values: Reply, Sent,
            SentManual"
          required: false
          type: string
          enum:
            - Sent
            - Reply
            - SentManual
        - name: campaignId
          in: query
          description: Filter by campaign ID
          required: false
          type: integer
          format: int64
        - name: followupId
          in: query
          description: Filter by followup ID (FUID)
          required: false
          type: integer
          format: int32
        - name: senderId
          in: query
          description: Filter by sender ID
          required: false
          type: integer
          format: int64
        - name: confirmedStatus
          in: query
          description: Filter by confirmed status (e.g., Interested, BounceHard,
            NotInterested, etc.)
          required: false
          type: string
          enum:
            - Unknown
            - EspMatchNotFound
            - EspNotAllowed
            - NoWarmup
            - NotReceiving
            - WarmupLimits
            - SendingLimits
            - NoSender
            - Stuck
            - MailboxInexistent
            - EmptySubject
            - EmptyBody
            - MissingPlaceholder
            - Invalid
            - Blacklisted
            - Stopped
            - Unsub
            - BounceHard
            - BounceSoft
            - AutoNolonger
            - AutoOoo
            - AutoReply
            - CollegueReplied
            - SenderDisconnected
            - Paused
            - InsufficientCredit
            - ScheduleInactive
            - NotInterested
            - NotSet
            - Neutral
            - MaybeLater
            - Interested
            - MeetingBooked
            - MeetingCompleted
            - Won
            - Subbed
        - name: emailFrom
          in: query
          description: Search email from
          required: false
          type: string
        - name: emailTo
          in: query
          description: Search email to
          required: false
          type: string
        - name: subject
          in: query
          description: Search subject
          required: false
          type: string
        - name: page
          in: query
          description: "Page number (1-indexed, default: 1)"
          required: false
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: limit
          in: query
          description: "Items per page (default: 100, max: 1000)"
          required: false
          type: integer
          format: int32
          maximum: 1000
          minimum: 1
        - name: startingAfter
          in: query
          description: Cursor for next page (optional, for cursor-based pagination)
          required: false
          type: string
          format: date-time
      responses:
        "200":
          description: OK
          schema:
            type: object
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/prospects/bulk:
    post:
      tags:
        - Prospect
      summary: Bulk add prospects to a list or campaign
      description: "Adds existing prospects (by ID) to a specific list and/or
        campaign.\r

        \r

        Behavior:\r

        - Authenticates API request\r

        - Validates that listId is provided (required for V2)\r

        - Fetches prospects by IDs\r

        - Adds them to the specified list/campaign via CampaignService"
      operationId: ApiProspect_AddProspectsBulkAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          description: List of prospects to be imported
          required: true
          schema:
            $ref: "#/definitions/ProspectBulkListCreate"
        - name: listId
          in: query
          description: Required list ID to which all prospects will be added
          required: false
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: campaignId
          in: query
          description: Optional campaign ID to add prospects to
          required: false
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: addOnlyIfNew
          in: query
          description: If true, will only add prospects that are new in CRM
          required: false
          type: boolean
          default: false
        - name: notInOtherCampaign
          in: query
          description: If true, checks if prospect is in other campaigns
          required: false
          type: boolean
          default: false
      responses:
        "200":
          description: OK
          schema:
            type: object
        "201":
          description: Prospects added successfully
          schema:
            $ref: "#/definitions/ProspectImport"
        "400":
          description: Bad request - Malformed request or invalid syntax
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "401":
          description: Authentication failed - Invalid, expired, or empty API key
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "404":
          description: Resource not found - The requested resource does not exist or you
            don't have access
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "406":
          description: Missing required header - X-API-Key header is required
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "409":
          description: Resource conflict - Duplicate resource or constraint violation
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "415":
          description: Unsupported media type - Content-Type must be application/json
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "422":
          description: Validation failed - One or more fields are invalid
          schema:
            $ref: "#/definitions/ApiErrorValidation"
        "429":
          description: Rate limit exceeded - Too many requests
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
        "500":
          description: Internal server error - An unexpected error occurred
          schema:
            $ref: "#/definitions/ApiErrorGeneric"
  /api/v2/prospects:
    get:
      tags:
        - Prospect
      summary: Retrieves a list of prospects with optional filtering
      description: "Returns prospects for the authenticated organization with optional
        filters.\r

        Supports email-to-ID lookup via `?email=` parameter.\r

        \            \r

        Behavior:\r

        - Authenticates API request\r

        - Applies optional filters (email, status, tags, search)\r

        - Returns paginated list of prospects as DTOs\r

        - When email filter is used, returns single prospect (for ID lookup)"
      operationId: ApiProspect_GetProspects
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: email
          in: query
          description: Filter by exact email match (used for email-to-ID lookup)
          required: false
          type: string
        - name: status
          in: query
          description: Filter by CRM status
          required: false
          type: string
          enum:
            - Unknown
            - EspMatchNotFound
            - EspNotAllowed
            - NoWarmup
            - NotReceiving
            - WarmupLimits
            - SendingLimits
            - NoSender
            - Stuck
            - MailboxInexistent
            - EmptySubject
            - EmptyBody
            - MissingPlaceholder
            - Invalid
            - Blacklisted
            - Stopped
            - Unsub
            - BounceHard
            - BounceSoft
            - AutoNolonger
            - AutoOoo
            - AutoReply
            - CollegueReplied
            - SenderDisconnected
            - Paused
            - InsufficientCredit
            - ScheduleInactive
            - NotInterested
            - NotSet
            - Neutral
            - MaybeLater
            - Interested
            - MeetingBooked
            - MeetingCompleted
            - Won
            - Subbed
        - name: tags
          in: query
          description: Filter by tags (comma-separated)
          required: false
          type: string
        - name: search
          in: query
          description: Search in email, first name, last name
          required: false
          type: string
        - name: includeCampaignIds.campaignIds
          in: query
          description: "Parameter: includeCampaignIds.campaignIds"
          required: false
          items:
            type: integer
            format: int32
          collectionFormat: multi
          type: array
        - name: includeListIds.listIds
          in: query
          description: "Parameter: includeListIds.listIds"
          required: false
          items:
            type: integer
            format: int32
          collectionFormat: multi
          type: array
        - name: excludeCampaignIds.campaignIds
          in: query
          description: "Parameter: excludeCampaignIds.campaignIds"
          required: false
          items:
            type: integer
            format: int32
          collectionFormat: multi
          type: array
        - name: excludeListIds.listIds
          in: query
          description: "Parameter: excludeListIds.listIds"
          required: false
          items:
            type: integer
            format: int32
          collectionFormat: multi
          type: array
        - name: page
          in: query
          description: "Page number (1-indexed, default: 1)"
          required: false
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        - name: limit
          in: query
          description: "Items per page (default: 100, max: 1000)"
[...]
